@tailwind utilities;
@tailwind base;
@tailwind components;


@layer base{
    button[type="submit"],[type="button"]{
        background-color: black;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}